# Node modules
node_modules/

# API keys
node/weather-app/*key.txt
node/web-server/*key.txt
node/task-manager/src/emails/*key.txt

# Task Manager
node/task-manager/images/
node/task-manager/avatars/

# Ignore environments (manually remake for security)
*.env

# Ignore logs
*.log

# Ignore SASS build files
.sass-cache/
*.map

# Ignore bundles
bundle.js
bundle.css

# Ignore jest snapshots
__snapshots__/
*.js.snap

# Ignore firebase config files
*.firebaserc
firebase.json
*.cache

# Ignore JS files in the TypeScript course
typescript/**/*.js

# Ignore database in the MongoDB course
mongodb/data/db/

# Ignore vscode options
.vscode/