.widget {
    background: $light-blue;
    display: inline-block;
    width: 100%;
}


.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;

  h3 {
    margin: 0;
  }
}
